.wrapper {
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  width: 100%;
}

.wrapper iframe,
.wrapper object,
.wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
